id: io.github.Sunderland93.sway-input-config
runtime: org.kde.Platform
runtime-version: '6.5'
sdk: org.kde.Sdk
base: com.riverbankcomputing.PyQt.BaseApp
base-version: '6.5'
cleanup-commands:
  - /app/cleanup-BaseApp.sh
build-options:
  env:
    - BASEAPP_REMOVE_WEBENGINE=1
command: sway-input-config
rename-desktop-file: sway-input-config.desktop
rename-icon: sway-input-config
finish-args:
- "--socket=wayland"
- "--device=dri"
- "--filesystem=/run/user:ro"
- "--filesystem=xdg-config/sway:rw"
modules:
- name: python3-appdirs
  buildsystem: simple
  build-commands:
   - pip3 install --exists-action=i --no-index --find-links="file://${PWD}" --prefix=${FLATPAK_DEST} appdirs
  sources:
  - type: file
    url: https://files.pythonhosted.org/packages/3b/00/2344469e2084fb287c2e0b57b72910309874c3245463acd6cf5e3db69324/appdirs-1.4.4-py2.py3-none-any.whl
    sha256: a841dacd6b99318a741b166adb07e19ee71a274450e68237b4650ca1055ab128
- name: python3-i3ipc
  buildsystem: simple
  build-commands:
   - pip3 install --verbose --exists-action=i --no-index --find-links="file://${PWD}" --prefix=${FLATPAK_DEST} i3ipc
  sources:
  - type: file
    url: https://files.pythonhosted.org/packages/de/30/294b07ddeccb58855c890c3ef3a951c3b0c1e2d089666d548b6a9edc39fb/i3ipc-2.2.1-py3-none-any.whl
    sha256: c0b898223d50d42c90c818deb5033d1304c582755547dee7d15df3e3781bc690
  - type: file
    url: https://files.pythonhosted.org/packages/fc/b8/ff33610932e0ee81ae7f1269c890f697d56ff74b9f5b2ee5d9b7fa2c5355/python_xlib-0.33-py2.py3-none-any.whl
    sha256: c3534038d42e0df2f1392a1b30a15a4ff5fdc2b86cfa94f072bf11b10a164398
- name: sway-input-config
  buildsystem: simple
  build-commands:
   - pip3 install --prefix=/app --no-deps .
  sources:
   - type: archive
     url: https://github.com/Sunderland93/sway-input-config/archive/refs/tags/v1.4.1.tar.gz
     sha256: effeb9da73d66b11c450e7ebdc195b9cf40cc4e2a8099a2a8eac23b0b5d0d113
